# Environments
.env
.env.*
!.env.example

# Node / Next.js
node_modules/
.next/
out/
build/

# Python / Django
__pycache__/
*.pyc
db.sqlite3
Backend/.coverage

# OS Junk
.DS_Store

# Ignore all files in the media directory
Backend/media/**

# But do not ignore the directory itself (requires a .gitkeep file inside the folder)
!Backend/media/**/.gitkeep